---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schools That Deliver">
  <main class="container">
    <div class="book-cover">
      <img src="/images/book-cover.jpg" alt="Schools That Deliver - Book Cover" />
    </div>
  </main>
</Layout>
